cliff
pbr
python-dateutil
python-dotenv
requests
six
dateparser
stringcase
arrow
PyMongo
flake8
pycodestyle
pyflakes
Pygments
PyGithub
Sphinx==1.8.5 # pinned for Python 2.7.x support
pytest==4.6.5 # pinned for Python 2.7.x support
pytest-cov
pytest-runner
sphinxcontrib-napoleon
yapf
sphinx-rtd-theme
sphinx-fontawesome
stevedore
tenacity
agavepy@git+https://github.com/TACC/agavepy.git@cli
