flake8
pytest==4.6.5 # pinned for Python 2.7.x support
pytest-cov
pytest-runner
pycodestyle
pyflakes
sphinxcontrib-napoleon
sphinx-autobuild
sphinx-rtd-theme
sphinx-fontawesome
stevedore
yapf
Pygments
Sphinx
twine
