arrow
cliff
colorama
configparser
curlify
curlify
dateparser
pathlib2
pbr
python-dateutil
python-dotenv
requests
six
stevedore
stringcase
tenacity
validators
Jinja2
PyGithub
PyMongo
docker>=4.1.0
websocket-client==0.53.0
agavepy@git+https://github.com/TACC/agavepy.git@cli
