arrow
cliff
colorama
configparser
curlify
dateparser
docker<=4.2.0
# GitPython
pathlib2
pbr
PyGithub
pymongo
python-dotenv
python-slugify
stevedore
stringcase
tacc-cookiecutter
tenacity
validators
#git+https://github.com/TACC/agavepy.git@1_0_0
agavepy==1.0.0a10
flake8
pytest==4.6.5 # pinned for Python 2.7.x support
pytest-cov
pytest-runner
pycodestyle
pyflakes
sphinxcontrib-napoleon
sphinx-autobuild
sphinx-rtd-theme
sphinx-fontawesome
stevedore
yapf
Pygments
Sphinx
twine
