cliff
curlify
pbr
python-dateutil
python-dotenv
requests
six
dateparser
stringcase
arrow
PyMongo
flake8
pycodestyle
pyflakes
Pygments>=2.4.2
PyGithub
Sphinx==1.8.5 # pinned for Python 2.7.x support
pytest==4.6.5 # pinned for Python 2.7.x support
pytest-cov
pytest-runner
sphinxcontrib-napoleon
yapf
sphinx-rtd-theme
sphinx-fontawesome
stevedore
tenacity
colorama
curlify
pathlib2
validators
agavepy@git+https://github.com/TACC/agavepy.git@cli
flake8>=3.7.8
pycodestyle>=2.5.0
pyflakes>=2.1.1
Pygments>=2.4.2
PyGithub>=1.43.8
pytest>=5.1.0
pytest-cov>=2.7.1
pytest-runner>=5.1
Sphinx>=2.1.2
sphinxcontrib-napoleon>=0.7
yapf>=0.28.0
sphinx-autobuild
sphinx-rtd-theme
sphinx-fontawesome
stevedore
