arrow
cliff
colorama
configparser
curlify
curlify
dateparser
pathlib2
pbr
python-dateutil
python-dotenv
requests
six
stevedore
stringcase
tenacity
validators
Jinja2
PyGithub
PyMongo
docker>=4.1.0
agavepy@git+https://github.com/TACC/agavepy.git@cli
flake8
pytest==4.6.5 # pinned for Python 2.7.x support
pytest-cov
pytest-runner
pycodestyle
pyflakes
sphinxcontrib-napoleon
sphinx-autobuild
sphinx-rtd-theme
sphinx-fontawesome
stevedore
yapf
Pygments
Sphinx
twine
